/* Genel Footer Stil */
.footer {
    background-color: #000000;
    color: #adc2d6;
    padding: 2rem 0;
    position: relative;
}

.footer h5 {
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

.footer p {
    margin-bottom: 0.5rem;
}

.footer a {
    color: #adb5bd;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer a:hover {
    color: #0d6efd;
}

.footer .fab {
    font-size: 1.5rem;
    transition: color 0.3s ease;
}

.footer .fab:hover {
    color: #0d6efd;
}

/* Mobil ve küçük ekranlar için düzenleme */
@media (max-width: 767px) {
    .footer .row {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer .col-lg-4,
    .footer .col-lg-2,
    .footer .col-lg-3 {
        flex: 1 1 100%;
        max-width: 100%;
        margin-bottom: 1rem;
    }
}

/* Orta boyutlu ekranlar (tabletler) için düzenleme */
@media (min-width: 768px) and (max-width: 991px) {
    .footer .col-md-6 {
        flex: 1 1 50%;
    }
}

/* Büyük ekranlar için düzenleme */
@media (min-width: 992px) {
    .footer .col-lg-4 {
        flex: 1 1 33.333%;
    }

    .footer .col-lg-2 {
        flex: 1 1 16.666%;
    }

    .footer .col-lg-3 {
        flex: 1 1 25%;
    }
}

/* Footer içeriği ve body arasında çakışmayı önlemek için */
body {
    padding-bottom: 200px; /* Footer yüksekliği kadar boşluk bırak */
}
